<div class="row">
    <div class="col-md-8 pins-enabled">
        <h2>Pins Enabled</h2>
        <div class="row">
            <div ng-repeat="p in Pin.list" class="col-md-6 pin">
                <h3>
                    {{ p.num }}: {{ p.mode }}
                    <span ng-if="p.value == 1" class="label label-success pull-right">ON</span>
                    <span ng-if="p.value == 0" class="label label-danger pull-right">OFF</span>
                </h3>
                <div class="btn-toolbar">
                    <a ng-if="p.value == 0" class="btn btn-success">Turn ON</a>
                    <a ng-if="p.value == 1" class="btn btn-danger">Turn OFF</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 pin-events">
        <h2>Events Detected</h2>
        <div class="row">

        </div>
    </div>
</div>
