<html ng-app="myApp">
<head>
    <title>Raspberry Pi GPIO</title>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
</head>
<body>
    <div ng-controller="AppCtrl">
        <div ng-view class="container"></div>
    </div>
    <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/services.js"></script>
    <script type="text/javascript" src="/static/js/controllers.js"></script>
    <script type="text/javascript" src="/static/js/directives.js"></script>
</body>
</html>
